.leaflet-container {
    height: 600px;
}

#dataInput {
    width: 250px;
}

.uploadDialog {
    width: 250px;
    position: center;
    text-align: center;
    border: 1px solid gray;
    border-radius: 5px;
    background: #999999;
}

.uploadDialog:hover {
    background: #bbbbbb;
    cursor: pointer;
}